body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #3a3a3a;
  /*background-image: url('../images/rendering1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 -6.8em;*/
  width: 100%;
    /* Typography Declarations */
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}

h1 {
  color: #FFFFFF;
  font-size: 1.7em;
  padding: 0;
  margin: 0.4em 0 0.4em 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  /* text-transform: uppercase; */
  letter-spacing: 0.25em;
  text-shadow: 0px 0px 8px #000;
}

p {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none;  
}

#topper {
  padding: 2.5em 0 0 0;
  text-align: center;
  font-size: .8em;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #FFFFFF;
  display: inline-block;
}

#copy {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: .9em;
  letter-spacing: 0.12em;
  font-weight: 400;
}

#footie {
  padding: 0;
  margin-top: 2em;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  font-weight: 300;
  text-transform: uppercase;
}

#title {
  background-image: url('../images/CB.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5em;
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  z-index: 10;
}

#logo {
  width: 20em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.7em;
  display: block;
  z-index: 3;
}

.shade {
  padding: 0;
  border: 0;
  background-image: url('../images/rendering1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 -4em;
  /*background-color: #101010;
  opacity: 0.65;
  filter: alpha(opacity=65);*/
  background-size: cover;
  width: 100%;
  /*height: 100vh;*/
  height: 40em;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

#header {
  padding: 0 0 2em 0;
  border: 0;
  background-color: #3a3a3a;
  /*background-color: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60);*/
  width: 100%;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
}

.footer {
  border: 0;
  margin: 25em 0 0 0;
  width: 100%;
  display: inline-block;
  /*background-color: #101010;
  opacity: 0.65;
  filter: alpha(opacity=65);*/
  color: #FFFFFF;
  height: 5em;
  z-index: 20;
}

.icon {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 2em;
  box-shadow: 0px 0px 10px #222222;
}

.icon:hover {
  box-shadow: 0px 0px 14px #9be21c;
}